In [2]:
import numpy as np;
import pandas as pd;

In [3]:
df=pd.read_csv("https://raw.githubusercontent.com/PRIYANG-BHATT/Datasets-Youtube-Pandas/main/DS/heart.csv")

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [5]:
df.isnull()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1021,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1022,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1023,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1024,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum()  #3means no null value

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [7]:
print (df.duplicated().any());  ##contains duplicate otherwise false

True

In [8]:
df=df.drop_duplicates();   #duplictes removed
print (df.duplicated().any())

False

In [9]:
#seprate categorical and numerical volums to process them seprately 
nl=[];
cl=[];
for i in df.columns:
    if df[i].nunique() <= 10:
        cl.append(i)
    else:
        nl.append(i);

print ("categorival column :",cl)
print ("numercal column : ",nl)

categorival column : ['sex', 'cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal', 'target']
numercal column :  ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']

In [10]:
#encoding of categorical data
df['cp'].unique()  #cantain 4 distint values with is  representing characterstic

# binary vector has to be made as dummy variable
# 1 0 0 0 =0
# 0 1 0 0  =1
# 0 0 1 0  =2
# 0 0 0 1 =3
# drop firstcolumn of vector to remveOVE DUMMY VARIABLE TRAP

array([0, 1, 2, 3], dtype=int64)

In [11]:
#removing coulumn which are classifiers and alrdybinary
cl.remove('target')
cl.remove('sex')

In [12]:
print (cl)

['cp', 'fbs', 'restecg', 'exang', 'slope', 'ca', 'thal']

In [13]:
df=pd.get_dummies(df,columns=cl,drop_first=True) ##getting dummy vriale in all categorical coulmn using in built methord and renoving first column for dummy vriable trap

In [14]:
df.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,52,1,125,212,168,1.0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,53,1,140,203,155,3.1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,70,1,145,174,125,2.6,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,61,1,148,203,161,0.0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,62,0,138,294,106,1.9,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0

In [15]:
##fetures scaling in order for Machine learing algoritm(Linear Reg,nearestneighbour) to calculate distance between data
#scaling is important inorder to compare data
#feature scaling in our data only reqired for nl
from sklearn.preprocessing import StandardScaler
scal=StandardScaler();

In [16]:
df[nl]=scal.fit_transform(df[nl])

In [17]:
df.head()

,age,sex,trestbps,chol,thalach,oldpeak,target,cp_1,cp_2,cp_3,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,-0.267966,1,-0.376556,-0.667728,0.806035,-0.037124,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.157260,1,0.478910,-0.841918,0.237495,1.773958,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1.724733,1,0.764066,-1.403197,-1.074521,1.342748,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0.728383,1,0.935159,-0.841918,0.499898,-0.899544,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,0.839089,0,0.364848,0.919336,-1.905464,0.739054,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0

In [18]:
##split data in traning and testing part
X=df.drop('target',axis=1)
X

,age,sex,trestbps,chol,thalach,oldpeak,cp_1,cp_2,cp_3,fbs_1,...,exang_1,slope_1,slope_2,ca_1,ca_2,ca_3,ca_4,thal_1,thal_2,thal_3
0,-0.267966,1,-0.376556,-0.667728,0.806035,-0.037124,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
1,-0.157260,1,0.478910,-0.841918,0.237495,1.773958,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1
2,1.724733,1,0.764066,-1.403197,-1.074521,1.342748,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0.728383,1,0.935159,-0.841918,0.499898,-0.899544,0,0,0,0,...,0,0,1,1,0,0,0,0,0,1
4,0.839089,0,0.364848,0.919336,-1.905464,0.739054,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
723,1.503322,0,-0.661712,-0.687083,-1.511859,0.394086,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
733,-1.153610,0,-1.346085,-2.041893,1.112172,-0.382092,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
739,-0.267966,1,-0.205463,0.164513,0.499898,-0.899544,0,0,0,0,...,1,0,1,1,0,0,0,0,0,1
843,0.506972,1,1.619532,0.512893,-1.074521,-0.899544,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
878,-0.046555,1,-0.661712,-1.132235,-1.599327,0.307844,0,0,0,0,...,0,1,0,1,0,0,0,0,0,1

In [19]:
Y=df['target']

In [20]:
from sklearn.model_selection import train_test_split as tts

In [21]:
xtrain,xtest,ytrain,ytest=tts(X,Y,test_size=0.25,random_state=42)

In [22]:
ytest

245    1
349    0
135    0
389    1
66     1
      ..
23     1
438    1
60     1
377    1
140    0
Name: target, Length: 76, dtype: int64

In [23]:
#classification problem taget=0 nocancer,target =1 cancer
# run various classification algorithm on data

# 1.Logistic Regression
from sklearn.linear_model import LogisticRegression
LR=LogisticRegression() #making instance of LR

In [24]:
LR.fit(xtrain,ytrain)  ##Givoing data to fit in LR

LogisticRegression()

In [25]:
ypred=LR.predict(xtest)  #variable to store predicted cancer for xtest random  variable

In [28]:
#to checkacuracy
from sklearn.metrics import accuracy_score

In [29]:
r1=accuracy_score(ytest,ypred)
print (r1)

0.8289473684210527

In [30]:
## LinearRegression is 82.89473684210526% accurate

In [31]:
# 2. Support Vector Classifier
from sklearn import svm #support vector machine
svm=svm.SVC()

In [32]:
svm.fit(xtrain,ytrain)

SVC()

In [33]:
ypred2=svm.predict(xtest)

In [34]:
r2=accuracy_score(ytest,ypred2)
print (r2)

0.8157894736842105

In [35]:
# Support Vector Classifier is 81.578947368421055%  accurate

In [36]:
## using 3. kneighbourclassifier 
from sklearn.neighbors import KNeighborsClassifier
knc=KNeighborsClassifier(); #here  n_neighbors=5

In [37]:
knc.fit(xtrain,ytrain)

KNeighborsClassifier()

In [38]:
ypred3=knc.predict(xtest)

In [39]:
r3=accuracy_score(ytest,ypred3)
print (r3)

0.7763157894736842

In [40]:
# kneighbourclassifier  is 77.63157894736842 % accurate

In [41]:
#more use of kneighbour model usingvalue of neihbourchange
optiscore=[];
for i in range(1,40):
    knc2=KNeighborsClassifier(n_neighbors=i);
    knc2.fit(xtrain,ytrain)
    y_p=knc2.predict(xtest)
    optiscore+=[(accuracy_score(ytest,y_p))]

In [42]:
print (optiscore)

[0.7105263157894737, 0.7894736842105263, 0.7105263157894737, 0.7631578947368421, 0.7763157894736842, 0.7894736842105263, 0.7631578947368421, 0.7631578947368421, 0.7763157894736842, 0.7631578947368421, 0.7631578947368421, 0.7631578947368421, 0.75, 0.7631578947368421, 0.7631578947368421, 0.7894736842105263, 0.75, 0.7631578947368421, 0.75, 0.7631578947368421, 0.7368421052631579, 0.7368421052631579, 0.7236842105263158, 0.7368421052631579, 0.7368421052631579, 0.7368421052631579, 0.7368421052631579, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75]

In [43]:
findf=pd.DataFrame({'Model':['linearRegr','Support Vector','Kneighbour'],
                    'Accuracy':[r1,r2,r3]})

In [44]:
findf

            Model  Accuracy
0      linearRegr  0.828947
1  Support Vector  0.815789
2      Kneighbour  0.776316

In [45]:
# BEST MODEL LINEAR REG